body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #29BC9E;
  width: 100vw;
  overflow-x: hidden;
  

}
html {
  width: 100vw;
  overflow-x: hidden;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html, body {padding:0; margin:0; height:100%;}
/* footer{position: absolute; bottom:0; width: 100%; height: 2.5rem;} */